.select2-search__field{
    padding-left:30px !important;
}

.xyz-align{
    margin-top: 240px;
    margin-left: 0px;
    margin-right: 0px;

}
.navbar-collapse-heightalign{
    height: auto!important;
}
.checkbox-align{
    margin-top: 0px!important;
}
.flashMessage-panelbody-align{
    margin: 0px 80px 0px 0px; 
    padding: 0 !important; 
}

.flashMessage-success-align{
    margin: 0 0 20px 30px;
}

.flashMessage-margin{
    margin-left: -100px;
}
.error-footer{
    margin-top: 280px!important;
}

.font-14{
    font-size: 14px !important;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}
.cus-search-div{
    width: 152px !important;
}

.loader {
  position: absolute;
  left: 40%;
  top: 20%;
  z-index: 1;
  border: 10px solid #f3f3f3;
  border-radius: 60%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.txt-center {
  text-align: center;
}
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}
